* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
}
*::selection{
    background-color: #fff;
    color: #95C11E;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
body::-webkit-scrollbar{
    background-color: #0a0a0a;
    display: block;
    width: 8px;
    border-radius: 3px;
}
body::-webkit-scrollbar-thumb{
    background-color: #95C11E;
    border-radius: 20%;
    height: 1px;
}

#nav {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 140px;
    justify-content: flex-start;
    gap: 50px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 75px;
}

video {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.265);
    width: 100vw;
}

#page1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    color: black;
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: -1;
    -webkit-text-stroke: 1.5px #95C11E;
}

#page1 h2 {
    font-size: 38px;
    font-weight: 800;
    margin-top: 10px;
}

#page1 p {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    width: 45%;
    z-index: 10;
}

#page1 #arrow{
    height: 180px;
    width: 180px;
    /* background-color: transparent; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    left: -2%;
    bottom: 0;
    border: 2px solid #95C11E;
    transition: all ease 0.5s;
    z-index: 10;
    
    
}

#page1 #arrow i{
    font-size: 50px;
    font-weight: 500;
}
 #arrow:hover {
    background-color: #95C11E;
    scale: 0.4;
    
    
}
#page2 {
    height: 100%;
    z-index: 10;
    width: 100vw;
    overflow-x: hidden; 
    overflow-y: auto;
}

#cursor{
    height: 25px;
    width: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transform: translate(-50%, -50%);
    transition: transform 0.2s, background-color 0.2s, border 0.2s;
}

#cursor-blur {
    height: 380px;
    width: 380px;
    background-color: #c4ec5730;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

#scroller {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden; 
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller h4:hover {
    color: #95C11E;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140px;
    font-weight: 900;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
    transition: all 0.5s linear;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#about-us {
    white-space: wrap;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    position: relative;
    gap: 20px;
}
#about-us-in {
    width: 50%;
    text-align: center;
}
#about-us img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 20%;
}
#about-us-in h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
#about-us-in p{
    line-height: 26px;
    font-size: 20px;
}
#card-container{
    height: 50vh;
    /* width: 100vw; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 10;
     white-space: wrap;
}
.card{
    height: 40vh;
    width: 20vw;
    
    border-radius: 20px;
    background-size: cover;
    background-position: center ;
    transition: all ease 0.4s;

}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    
}
#card2{
background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{
    background-image: url(img3.webp);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 50px;
    padding-top: 30px;
    border-radius: 20px;
    opacity: 0;
    transition: all ease 0.4s;
} 
.overlay h3{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
}
.overlay p{
    color: #000;
    margin-top: 10px;
    font-size: 17px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
     transform: rotate3d(-1,1,0,20deg); 
}

#green-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom ,#1AA238,#ACE022);
    text-align: center;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 17%;
   
}
#green-div h3{
    font-size: 30px;
    width: 50%;
    white-space: wrap;
    font-weight: 800;
    color: black;
    line-height: 50px;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
position: relative;
}
#page3 p{
    width: 60%;
    font-weight: 700;
    line-height: 53px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}
#page3 img{
    height: 40px;
    width: 40px;
    position: absolute;

}
#page3 #colon1{
    top: 22%;
    left: 15%;
}
#page3 #colon2{
    bottom: 22%;
    right: 15%;
}

#page4{
    height: 30vh;
    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
    position: relative;
}
.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    z-index: 10;
    color: #000;
    transition: all ease 0.6s;
} 
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
    scale: 1.1;

}
.elem:hover h2{
    background-color: transparent;
    color: white;
}
.elem:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 80px;
    position: absolute;
    top: -13%;
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
    -webkit-text-stroke:2px white;
    
}
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }